<% // create a list of javascript files to have the header load %>
<% var js_include = ['create_movie.js']; %>
<% include header %>

<!-- Note that this is a post -->
<form id="create_movie_form" action="<%= action %>">
    <h1>Create Movie</h1>
    <table id="login">
        <tr><td>Title:</td>
            <td><input type="text" id="MovieName" name="MovieName" /></td>
        </tr>
        <tr><td>Year Released:</td>
            <td><input type="text" id="YearReleased" name="YearReleased" /></td>
        </tr>
    </table>

    <label for="Rating">Ratings</label>
    <select id="Rating" name="Rating">
        <option value="<%= 'G' %>"> <%= 'G' %>
        </option>
        <option value="<%= 'PG' %>"> <%= 'PG' %>
        </option>
        <option value="<%= 'PG-13' %>"> <%= 'PG-13' %>
        </option>
        <option value="<%= 'R' %>"> <%= 'R' %>
        </option>
    </select>
    <br />

    <table id="login1">
        <tr><td>Genre:</td>
            <td><input type="text" id="Genre" name="Genre" /></td>
        </tr>
    </table>

    <!-- not that we use a button here and not submit -->
   <br>
    <input type="button" id="createMovieBtn" value="Create" />
</form>

<div id="output" style="margin:10px;display:none"></div>

<% include footer %>