<% // create a list of javascript files to have the header load %>
<% var js_include = ['create_show.js']; %>
<% include header %>

<!-- Note that this is a post -->
<form id="create_show_form" action="<%= action %>">
    <h1>Create New Show</h1>
    <table id="login">
        <tr><td>Title:</td>
            <td><input type="text" id="ShowName" name="ShowName" /></td>
        </tr>
        <tr><td>Number of Seasons:</td>
            <td><input type="text" id="Seasons" name="Seasons" /></td>
        </tr>
    </table>

    <label for="Rating">Ratings</label>
    <select id="Rating" name="Rating">
        <option value="<%= 'Y' %>"> <%= 'Y' %>
        </option>
        <option value="<%= 'G' %>"> <%= 'G' %>
        </option>
        <option value="<%= 'PG' %>"> <%= 'PG' %>
        </option>
        <option value="<%= '14' %>"> <%= '14' %>
        </option>
        <option value="<%= 'MA' %>"> <%= 'MA' %>
        </option>
    </select>
    <br />

        <tr><td>Genre:</td>
            <td><input type="text" id="Genre" name="Genre" /></td>
        </tr>
    <br />
    <label for="AirTime">AirTime</label>
    <select id="AirTime" name="AirTime">
        <option value="<%= 'Summer' %>"> <%= 'Summer' %>
        </option>
        <option value="<%= 'Fall' %>"> <%= 'Fall' %>
        </option>
        <option value="<%= 'Winter' %>"> <%= 'Winter' %>
        </option>
        <option value="<%= 'Spring' %>"> <%= 'Spring' %>
        </option>
    </select>
    <br />


    </table>

    <!-- not that we use a button here and not submit -->
    <br>
    <input type="button" id="createShowBtn" value="Create" />
</form>

<div id="output" style="margin:10px;display:none"></div>

<% include footer %>