<% include header %>

<% if(rs.length > 0)
{ %>
    First Name: <%= rs[0].FirstName %> <br />
    Last Name: <%= rs[0].LastName %> <br />
    Email: <%= rs[0].Email %> <br />

    <br /><hr/><br />

    <div>
    <% if(rs1.length > 0) { %>
        <table border="1">
        <tr><th>Friend</th></tr>
        <% for (var i=0; rs1.length > i; i++) { %>
            <tr>
                <td><a href="/profile/?userid=<%= rs1[i].FriendID %>"><%= rs1[i].FriendFirstName %><%= rs1[i].FriendLastName %></a></td>
                <td><a href="/friends/delete?userid=<%= rs1[i].UserID %>&friendid=<%=rs1[i].FriendID%>"> <%= "Delete" %></a></td>
            </tr>
        <% } %>
        </table>
    <% } else { %>
        No friendships exists.
    <% } %>
    </div>

    <td><a href="/friends/create?userid=<%= userid %>"> <%= 'Create New Friendship' %></a></td><br />

    <br /><hr/><br />

    <div>
    <% if(rs2.length > 0) { %>
        <table border="1">
        <tr><th>Movies Watched</th></tr>
        <% for (var i=0; rs2.length > i; i++) { %>
            <tr>
                <td><a href="/movie/?movieid=<%= rs2[i].MovieID %>"> <%= rs2[i].MovieName %></a></td>
                <td><a href="/movieviewer/delete?userid=<%=rs2[i].UserID%>&movieid=<%=rs2[i].MovieID%>"> <%= "Delete" %></a></td>
            </tr>
        <% } %>
        </table>

        <% } else { %>
            No movies have been watched.
        <% }  %>
    </div>
    <td><a href="/movieviewer/create?userid=<%= userid %>"> <%= 'Watch New Movie' %></a></td><br />

    <br /><hr/><br />

    <div>
    <% if(rs3.length > 0) { %>
        <table border="1">
        <tr><th>Shows Watched</th></tr>
        <% for (var i=0; rs3.length > i; i++) { %>
            <tr>
                <td><a href="/show/?showid=<%= rs3[i].TVShowID %>"> <%= rs3[i].ShowName %></a></td>
                <td><a href="/tvviewer/delete?userid=<%=rs3[i].UserID%>&showid=<%=rs3[i].TVShowID%>"> <%= "Delete" %></a></td>
            </tr>
        <% } %>
        </table>

    <% } else { %>
        No shows have been watched.
    <% }  %>
    </div>

    <td><a href="/tvviewer/create?userid=<%= userid %>"> <%= 'Watch New Show' %></a></td><br />

<%} else { %>
    No user matched this user id <%= userid %>.
<% } %>

<% include footer %>