<% // create a list of javascript files to have the header load %>
<% var js_include = ['edit_user1.js']; %>
<% include header %>

<!-- Note that this is a post -->
<form id="edit_user1_form" action="<%= action %>">
    <table id="login">
        <td><input type="hidden" id="UserID" name="UserID" value= <%= user1id %> /></td>
        <tr><td>Username:</td>
            <td><input type="text" id="Username" name="Username" value= <%= rs[0].Username %> /></td>
        </tr>
        <tr><td>First Name:</td>
            <td><input type="text" id="Firstname" name="Firstname" value= <%= rs[0].Firstname %> /></td>
        </tr>
        <tr><td>Last Name:</td>
            <td><input type="text" id="Lastname" name="Lastname" value= <%= rs[0].Lastname %> /></td>

        </tr>
</table>
    <!-- not that we use a button here and not submit -->
    <input type="button" id="editUser1Btn" value="Update" />
</form>

<div id="output" style="margin:10px;display:none"></div>

<% include footer %>